


.navigation-map{
  display: flex;
  justify-content: center;
}



.navigation-map img{
  margin-top: 90px;
  height: 750px;
  width: 1500px;
  margin-bottom: 50px;
  
}






/* Footer Start */
footer .containerfootermap{
    max-width: 100%;
    margin: auto;
  }
  .rowfootermap{
    display: flex;
    flex-wrap: wrap;
  }
  footer ul{
    list-style: none;
  }
  .footermap{
    background-color: #24262b;
    padding: 70px 0;
  }
  .footer-colmap{
    width: 25%;
    padding: 0 15px;
  
  }
  .footer-colmap h4{
    font-size: 18px;
    color: #fff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
  
  }
  .footer-colmap h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #28396e;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
  }
  .footer-colmap ul li:not(:last-child){
    margin-bottom: 10px;
  }
  .footer-colmap ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
  
  }
  .footer-colmap ul li a:hover{
    color: #ffffff;
    padding-left: 8px;
  
  }
  .footer-colmap .footersocialsmap a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
  }
  .footer-colmap .footersocialsmap a:hover{
    color: #24262b;
    background-color: #ffffff;
  }
  @media(max-width: 767px){
    .footer-colmap{
      width: 50%;
      margin-bottom: 30px;
    }
  }
  @media(max-width: 574px){
    .footer-colmap{
      width: 100%;
    }
  }
  
  /* Footer Slut */